.attraction__like {
    background: white;
    width: 22px;
    height: 19px;
    border: 0;
    background-image: url(../../../images/vector-love.svg);
    grid-area: l;
    align-self: end;
}

.attraction__like:hover {
    opacity: 0.5;
}

.attraction__like:focus {
    outline:none;
}

.attraction__like:active {
  background-image: url(../../../images/vector-love-b.svg);
}
