.attraction__delete {
  background-image: url(../../../images/basket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 24px;
  right: 16px;
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.attraction__delete:hover {
  opacity: 0.5;
}

.attraction__delete:focus {
  outline: none;
}

