.attraction {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  display: grid;
  grid:
      "i i"
      "n l"
      "n k";
  grid-template-columns: auto 41px;
  grid-template-rows: min-content 40px 40px;
  list-style-type: none;
  position: relative;
  width: 100%;
}
