.attraction {
    list-style-type: none;
    background: white;
    display: grid;
    grid:
        "i i"
        "n l";
    width: 100%;
    border-radius: 10px;
    grid-template-columns: auto 52px;
    grid-template-rows: min-content 79px;
    align-items: center;
}